<!DOCTYPE html>
<html>

<head>
    <title>Consulta de Rastreamento Amplo</title>
    <h4 class="marca">dato®</h4>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <h1>Consultar Objeto</h1>
    <div class="paragrafo1">
        <h4>Layout planilha base:</h4>
        <p>✅ Cabeçalho e disposição das colunas devem ser idênticos.</p>
        <p>✅ Coluna "C" deve conter só informações válidas na Latam cargo.</p>
        <p>✅ Arquivo na extensão ".xlsx"</p>
        <img class="img1" src="/static/layout.jpg" alt="Layout Planilha Base">
    </div>
    <div class="paragrafo2">
        <img class="img2" src="/static/legenda.jpg" alt="Layout Planilha Base">
    </div>
    <div class="central">
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="file">Selecione o arquivo Excel:</label>
        <input type="file" id="file" name="file" required>
        <br>
        <input type="submit" value="Iniciar Rastreamentos">
    </form>
    </div>
    <div class="pendentes">
        <h5>Pendentes:</h5>
        {% if pendentes %}
            <p>{{ pendentes }}</p>
        {% else %}
            <p>...</p>
        {% endif %}
    </div>
    <div class="dados-capturados">
        <h3>Dados Capturados:</h3>
        <p>AWB, STATUS, DATA_EVENTO</p>
        {% if capturas %}
            {% for captura in capturas %}
                <p>{{ captura }}</p>
            {% endfor %}
        {% else %}
            <p>Aguardando carregamento do arquivo ...</p>
        {% endif %}
    </div>
</body>

</html>